[Desktop Entry]
Name=SD-A1111 v.1.5.1 (Shared)
Version=1.4
Icon=sd.png
Exec=/bin/bash -c 'cd ~/AI/software/a1111-151 && ./smart-launcher.py -p AI --share'
Terminal=true
Type=Application
