[Desktop Entry]
Name=SD-A1111-140
Version=1.4
Icon=sd.png
Exec=/bin/bash -c 'cd ~/AI/software/a1111-140 && ./smart-launcher.py -p AI'
Terminal=true
Type=Application
